---
import Layout from "~/layouts/Layout.astro";
---

<Layout
  title="Product Preview Card component"
  description="My attempt at the 'product preview card component' on frontendmentor.io."
  project="product-preview-card-component">
  <main class="grid place-items-center h-screen">
    <!-- TODO: Create the damn card -->
  </main>
</Layout>
