---
import Layout from "~/layouts/Layout.astro";
import "@fontsource/manrope/800.css";
---

<Layout
  title="Advice Generator App"
  description="The advice generator app challenge from frontendmentor.io"
  theme="advice-generator">
  <main class="h-screen bg-dark-blue text-white font-extrabold">
    <p class="text-28">Hello World</p>
  </main>
</Layout>
