---
import FixedSidebar from "~/components/index/FixedSidebar.astro";
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/index/Header.astro";
---

<Layout
  title="Home"
  description="My frontendmentor.io challenges, all contained on one site."
  project="main-site">
  <div
    class="h-screen grid grid-cols-layout grid-rows-layout grid-areas-mobile lg:grid-areas-desktop bg-branding-white dark:bg-branding-black">
    <Header />
    <FixedSidebar />
    <main class="grid-in-main">Hello from Main!</main>
  </div>
</Layout>
