---
import FixedSidebar from "~/components/index/FixedSidebar.astro";
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/index/Header.astro";
import MobileSidebar from "~/components/index/MobileSidebar.astro";
import { SITE_META, FEATURED_PROJECTS } from "~/consts";
import { type Project } from "~/types";
import "@fontsource/ibm-plex-serif/500.css";
---

<Layout
  title="Home"
  description="My frontendmentor.io challenges, all contained on one site."
  project="main-site">
  <div
    class="h-screen grid grid-cols-layout grid-rows-layout grid-areas-mobile lg:grid-areas-desktop bg-branding-white dark:bg-branding-black">
    <Header />
    <FixedSidebar />
    <main class="grid-in-main overflow-y-scroll scrollbar-thin">
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <p
              class="text-xs text-branding-blue-600 dark:text-branding-blue-400 tracking-widest font-medium title-font mb-2 uppercase">
              I can do webdev too
            </p>
            <div class="text-justify mx-auto mb-4">
              <h1
                class="text-4xl font-medium title-font mb-2 text-branding-black dark:text-branding-white font-serif">
                {SITE_META.title}
              </h1>
              <div class="w-40 rounded bg-branding-blue h-1"></div>
            </div>
            <p
              class="lg:w-2/3 mx-auto leading-relaxed text-base prose prose-neutral dark:prose-invert max-w-none prose-branding-blue">
              Hello, and welcome to my solutions for the challenges on <a
                href="https://frontendmentor.io">frontendmentor.io</a
              >. This site is currently under construction, but if you are
              interested at all, please check out <a href="https://jhilker.com"
                >my personal website</a
              > in the meantime.
            </p>
          </div>
        </div>
      </section>
      <section class="text-gray-600 body-font min-h-screen" x-ref="projects">
        <div class="container px-5 mx-auto">
          <div class:list={["-m-4", "grid", "md:grid-cols-2"]}>
            {
              FEATURED_PROJECTS.map((project: Project) => (
                <div class="p-4 col-span-1">
                  <div class="bg-gray-100 dark:bg-[#102840] shadow-md p-6 rounded-lg dark:shadow-branding-white/20">
                    <p class="tracking-widest text-branding-blue-500 text-xs font-medium title-font uppercase dark:text-branding-blue-400">
                      {project.tools.join(" • ")}
                    </p>
                    <h2 class="text-lg mt-2 text-gray-900 font-medium title-font mb-4 dark:text-branding-white">
                      {project.name}
                    </h2>
                    <div class="prose prose-neutral dark:prose-invert line-clamp-2 prose-sm md:prose-base">
                      {project.description}
                    </div>
                    <a
                      href={project.url}
                      class="mt-4 inline-block text-branding-blue-600 dark:text-branding-blue-400 hover:underline">
                      View
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </section>
    </main>
    <MobileSidebar />
  </div>
</Layout>
