---
import Layout from "~/layouts/Layout.astro";
---

<Layout
  title="Home"
  description="My frontendmentor.io challenges, all contained on one site."
  project="main-site">
  <div
    class="h-screen grid grid-cols-layout grid-rows-layout grid-areas-mobile lg:grid-areas-desktop bg-branding-white dark:bg-branding-black">
    <header class="grid-in-header">Hello from header!</header>
    <aside class="hidden lg:block grid-in-sidebar">Hello from sidebar.</aside>
    <main class="grid-in-main">Hello from Main!</main>
  </div>
</Layout>
