---
import Layout from "~/layouts/Layout.astro";
import "@fontsource-variable/fraunces";
import "@fontsource-variable/montserrat";
---

<Layout
  title="Product Preview Card component"
  description="My attempt at the 'product preview card component' on frontendmentor.io."
  project="product-preview-card-component">
  <main class="grid place-items-center h-screen bg-cream">
    <!-- TODO: Create the damn card -->
    <div
      class="max-w-md font-serif font-bold bg-white shadow p-6 flex flex-col lg:flex-row">
      hello world
    </div>
  </main>
</Layout>
