---
import Layout from "~/layouts/Layout.astro";
import "@fontsource-variable/fraunces";
import "@fontsource-variable/montserrat";
import { Image } from "astro:assets";
import imageProductDesktop from "~/assets/product-preview-card/image-product-desktop.jpg";
import imageProductMobile from "~/assets/product-preview-card/image-product-mobile.jpg";
import Icon from "astro-icon";
---

<Layout
  title="Product Preview Card component"
  description="My attempt at the 'product preview card component' on frontendmentor.io."
  project="product-preview-card-component">
  <main class="grid place-items-center h-screen bg-cream">
    <!-- TODO: Create the damn card -->
    <div
      class="max-w-md font-serif font-bold bg-white shadow flex flex-col lg:flex-row rounded">
      <!-- hello world -->
      <div class="lg:w-1/2 order-1">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset={imageProductDesktop.src}
          />
          <Image
            src={imageProductMobile}
            alt="A bottle of the product lying on a table."
            class="w-full object-cover"
          />
        </picture>
      </div>
      <div class="lg:w-1/2 p-6 order-2">
        <p class="font-sans text-darkGreyishBlue">Perfume</p>
      </div>
    </div>
  </main>
</Layout>
