---
import Layout from "~/layouts/Layout.astro";
import "@fontsource-variable/fraunces";
import "@fontsource-variable/montserrat";
import { Image } from "astro:assets";
import imageProductDesktop from "~/assets/product-preview-card/image-product-desktop.jpg";
import imageProductMobile from "~/assets/product-preview-card/image-product-mobile.jpg";
import Icon from "astro-icon";
---

<Layout
  title="Product Preview Card component"
  description="My attempt at the 'product preview card component' on frontendmentor.io."
  project="product-preview-card-component">
  <main class="bg-cream grid h-screen place-items-center">
    <!-- TODO: Create the damn card -->
    <div
      class="flex max-w-md flex-col overflow-hidden rounded bg-white font-serif font-bold shadow lg:max-w-xl lg:flex-row">
      <!-- hello world -->
      <div class="order-1 lg:w-1/2">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset={imageProductDesktop.src}
          />
          <Image
            src={imageProductMobile}
            alt="A bottle of the product lying on a table."
            class="w-full object-cover"
          />
        </picture>
      </div>
      <div class="order-2 p-6 lg:w-1/2">
        <p
          class="text-darkGrayishBlue font-sans text-sm font-light uppercase tracking-[0.3rem]">
          Perfume
        </p>
        <h2
          class="mt-4 font-serif text-4xl text-veryDarkBlue text-wrap-balance">
          Gabrielle Essence Eau De Parfum
        </h2>
        <p class="text-darkGrayishBlue mt-8 max-w-prose font-sans lg:mt-12">
          A floral, solar and voluptuous interpretation composed by Olivier
          Polge, Perfumer-Creator for the House of CHANEL.
        </p>
      </div>
    </div>
  </main>
</Layout>
