---
import Layout from "~/layouts/Layout.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import { Image } from "astro:assets";
import imageHeaderMobile from "~/assets/statsCard/image-header-mobile.jpg";
import imageHeaderDesktop from "~/assets/statsCard/image-header-desktop.jpg";
---

<Layout
  title="Stats Card Component"
  description="The stats card component challenge from frontendmentor.io"
  project="stats-card-component">
  <main class="grid place-items-center bg-veryDarkBlue h-screen">
    <div
      class="bg-desaturatedBlue text-white flex flex-col lg:flex-row max-w-md lg:max-w-4xl rounded overflow-hidden">
      <div class="lg:w-1/2 p-8 text-center lg:text-left order-2 lg:order-1">
        <h1
          class="font-inter text-3xl lg:text-4xl font-bold leading-normal lg:leading-snug text-wrap-balance">
          Get
          <span class="text-softPurple">insights</span>
           that help your business grow.
        </h1>
        <p
          class="text-white/75 mt-3 lg:mt-6 font-lexendDeca font-normal text-base leading-loose">
          Discover the benefits of data analytics and make better decisions
          regarding revenue, customer experience, and overall efficiency.
        </p>
        <div class="flex flex-col lg:flex-row mt-4 space-y-4 lg:space-y-0">
          <div class="basis-1/3">
            <p class="font-bold text-white font-inter text-xl">10k+</p>
            <span
              class="block mt-0.5 text-white/75 font-lexendDeca uppercase text-sm"
              >Companies</span
            >
          </div>
          <div class="basis-1/3">
            <p class="font-bold text-white font-inter text-xl">314</p>
            <span
              class="block mt-0.5 text-white/75 font-lexendDeca uppercase text-sm"
              >Templates</span
            >
          </div>
          <div class="basis-1/3">
            <p class="font-bold text-white font-inter text-xl">12M+</p>
            <span
              class="block mt-0.5 text-white/75 font-lexendDeca uppercase text-sm"
              >Queries</span
            >
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 bg-softPurple order-1 lg:order-2"></div>
    </div>
  </main>
</Layout>
