---
import Layout from "~/layouts/Layout.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import { Image } from "astro:assets";
import imageHeaderMobile from "~/assets/statsCard/image-header-mobile.jpg";
---

<Layout
  title="Stats Card Component"
  description="The stats card component challenge from frontendmentor.io"
  project="stats-card-component">
  <main class="bg-veryDarkBlue h-screen grid place-items-center">
    <article
      class="bg-desaturatedBlue flex flex-col lg:flex-row container text-white">
      <!-- <div class="p-8 lg:w-1/2 flex-shrink-0 order-2 lg:order-1">
        <h1>Get insights that will help your team grow.</h1>
      </div> -->
      <div class="lg:w-1/2 flex-shrink-0 order-1 lg:order-2 bg-softPurple">
        <Image
          src={imageHeaderMobile}
          format="webp"
          alt="A group of women in a meeting."
          class="object-cover filter mix-blend-hard-light brightness-50"
        />
        <!-- <Image src="http://via.placeholder.com/640" alt="placeholder" width="640" height="640" class="filter object-cover bg-softPurple mix-blend-overlay"/> -->
      </div>
    </article>
  </main>
</Layout>
