---
import Layout from "~/layouts/Layout.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
---

<Layout
  title="Stats Card Component"
  description="The stats card component challenge from frontendmentor.io"
  theme="stats-card-component">
  <main class="bg-veryDarkBlue h-screen grid place-items-center">
    <article class="bg-desaturatedBlue flex flex-row container">
      <div class="p-8 w-1/2 bg-red-700 flex-shrink-0">hi</div>
      <div class="w-1/2 bg-green-700 flex-shrink-0">hi</div>
    </article>
  </main>
</Layout>
