---
import Layout from "~/layouts/Layout.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import { Image } from "astro:assets";
import imageHeaderMobile from "~/assets/statsCard/image-header-mobile.jpg";
import imageHeaderDesktop from "~/assets/statsCard/image-header-desktop.jpg";
---

<Layout
  title="Stats Card Component"
  description="The stats card component challenge from frontendmentor.io"
  project="stats-card-component">
  <main
    class="grid place-items-center bg-veryDarkBlue h-screen overflow-hidden">
    <div
      class="bg-desaturatedBlue text-white relative flex flex-col lg:flex-row max-w-md lg:max-w-4xl">
      <div class="lg:w-1/2 p-8 text-center lg:text-left order-2 lg:order-1">
        <h1
          class="font-inter text-3xl lg:text-4xl font-bold leading-normal lg:leading-snug text-wrap-balance">
          Get
          <span class="text-softPurple">insights</span>
           that help your business grow.
        </h1>
        <p
          class="text-white/75 mt-6 font-lexendDeca font-normal text-base leading-loose">
          Discover the benefits of data analytics and make better decisions
          regarding revenue, customer experience, and overall efficiency.
        </p>
        <div class="flex flex-col lg:flex-row justify-between scontent-between">
          <div class="bg-purple-300">Div 1</div>
          <div class="bg-red-300">div 2</div>
          <div class="bg-blue-300">div 3</div>
        </div>
      </div>
      <div class="lg:w-1/2 bg-softPurple order-1 lg:order-2">
        <Image
          src={imageHeaderMobile}
          format="webp"
          alt="A group of women in a meeting."
          class="object-cover w-full h-full filter mix-blend-hard-light brightness-50 block lg:hidden"
        />
        <Image
          src={imageHeaderDesktop}
          format="webp"
          alt="A group of women in a meeting."
          class="object-cover w-full h-full filter mix-blend-hard-light brightness-50 hidden lg:block rounded-r"
        />
      </div>
    </div>
  </main>
</Layout>
