---

---

<header
  class="z-10 items-center grid-in-header bg-branding-gray dark:bg-branding-neutral-800"
  x-data="{mobileOpen: false}">
  <div class="flex h-[52px] 2xl:h-[62px]">
    <button
      type="button"
      aria-label="Toggle Mobile Sidebar"
      class="h-full p-3 duration-75 hover:backdrop-brightness-75 inline-flex place-items-center dark:hover:backdrop-brightness-125 lg:hidden"
      @click="sidebarOpen = !sidebarOpen"
      aria-hidden="true">
      <!-- TODO: Add Icon -->
    </button>
  </div>
</header>
