---
import SiteSEO from "~/components/SiteSEO.astro";
interface Props {
  title: string;
  description: string;
  theme: string;
}

const { title, description, theme } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <SiteSEO title={title} description={description} />
  </head>
  <body :data-theme={theme}>
    <slot />
  </body>
</html>
