---
import SiteSEO from "~/components/SiteSEO.astro";
interface Props {
  title: string;
  description: string;
  project: string;
}

const { title, description, project } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <SiteSEO title={title} description={description} />
  </head>
  <body :data-project={project}>
    <slot />
  </body>
</html>
